{% extends "core/base.html" %}
{% block title %}Confirm your address{% endblock %}
{% block body %}
  {% if done %}
    <h1>You are all set</h1>
    <p>This address is confirmed. The family email will arrive when there is something in it.</p>
  {% else %}
    <h1>Is this your address?</h1>
    <p>Somebody asked for a family email to be sent to this address.</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit">Yes, send it here</button>
    </form>
  {% endif %}
{% endblock %}
