{% extends "account/base_entrance.html" %}
{% comment %} PROJECT OVERRIDE. Title Case, and the page stopped there: "Your password is
   now changed." with nothing to tap, on the entrance layout that carries no nav. {% endcomment %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Your new password is saved" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Your new password is saved" %}
    {% endelement %}
    {% element p %}
        {% trans 'You can sign in with it now.' %}
    {% endelement %}
    {% element p %}
        <a class="btn" href="{% url 'account_login' %}">{% trans "Go to sign in" %}</a>
    {% endelement %}
{% endblock content %}
